#navbar {
    position: fixed;
}
#navpills {
    position: fixed;
}

.col-sm {
    overflow: hidden;
    height: 250px;
}
img {
    object-fit: cover;
    margin: auto;
    display: block;
}

a:hover {
  background: grey;
  color: white;
}
a {
    color: grey;
}
